* {
    margin: 0;
    padding: 0;
}

.btns {
    display: block;
}

.btn_signIn {
    background-color: #CDE990;
    width: 300px;
    height: 56px;
    border-radius: 30px;
    border-color: #ABCA67;
}

.btn_signUp {
    margin-top: 40px;
    background-color: #CDE990;
    width: 300px;
    height: 56px;
    border-radius: 30px;
    border-color: #ABCA67;

}