.post-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    row-gap: 50px;
    align-items: center;
    padding: 8rem 0 8rem 0;
}
.post {
    width: 930px;
    height: 330px;
    background-color: #FFFDE8;
    border-radius: 1rem;
    border: 3px solid #F4EB95;
    padding: 2rem 4rem 2rem 4rem;
}
.post-title {
    color: #666;
    font-size: 250%;
    margin: 2rem 0 1rem 0;
}
.post-writer, .post-date{
    color: #999;
    display: inline-block;
    font-size: 120%;
}
.post-writer {
    margin-right: 2rem;
}
.post-content {
    color: #999;
    font-size: 120%;
}