#user{
    display: block;
}
#profile{
    display: inline-flex;
    margin-left: 10%;
}
#userinfo{
    margin-left: 2%;
    float: right;
}
.username{
    display: flex;
}
.useremail{
    display: flex;
    margin-left: 5%;
}

.grid-container{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(7, 1fr);
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(155, 155, 155);
}
.days-of-the-week{
    color: rgb(49, 49, 49);
}